{% extends 'base_admin.html.twig' %}

{% block title %}New PostCategory{% endblock %}

{% block body %}
    <h1>Create new PostCategory</h1>

    {{ include('admin/post_category/_form.html.twig') }}

{% endblock %}
